* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #333940;
}

.grid-container {
  max-width: 1920px;
  display: grid;
  background-color: #333940;
  color: #333940;
  margin: auto;
  margin-top: 2vh;
  grid-template-rows: 1fr .8fr .5fr .5fr .5fr 1fr 1fr ;
}

.logo {
  height: 40px;
  width: auto;
}



.orange-box {
  grid-row: 2 / 3;
  width: 60%;
  background-color: #ff512f;
  text-align: right;
  font-size: 5em;
}

p.intro-top {
  padding-top: 100px;
}

.middle-box {
  grid-row: 3 / 4;
  color: #ff512f;
  width: 70%;
  text-align: right;
  font-size: 5em;
  float: right;
  margin-right: 170px;
}

.lower-box {
  grid-row: 4 / 5;
  color: white;
  width: 95vh;
  height: 1em;
  font-size: 5em;
  justify-self: center;
  padding-left: 50px;
  line-height: 0.7px;
  opacity: .9;
 
  
}

footer {
  grid-row: 7 / 8;
  color: white;
  text-align: center;
  
}

.fab {
  padding: 10px;
}